body {
  margin: 0;
  padding: 0;
  background: #a501b1;
  background: -webkit-linear-gradient(to right, #333399, #a501b1);
  background: linear-gradient(to right, #333399, #a501b1);
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}